on:
  pull_request:
    paths-ignore: &paths_ignore
      - 'docs/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - '.gitignore'
      - '.gitattributes'
      - 'infection.json.dist'
      - Makefile
      - 'psalm.xml'

  push:
    paths-ignore: *paths_ignore

name: Unit tests

jobs:
  tests:
    name: PHP ${{ matrix.php }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        php:
          - 8.5
          - 8.4
          - 8.3
          - 8.2
          - 8.1

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up the project
        uses: ./.github/actions/setup-project
        with:
          os: ${{ matrix.os }}
          php: ${{ matrix.php }}

      - name: Run unit tests with Codeception
        run: vendor/bin/codecept run Unit
